/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Layout Properties */
.logo {
    width: 14.25rem;
    height: 1.6875rem;
    position: relative;
}

.menu-icon {
    width: 1.3rem;
    height: 1.3rem;
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9375rem 6.25rem;
}

.nav-links {
    display: flex;
    gap: 3.75rem;
    align-items: center;
    padding: 0.625rem 1.25rem;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-family: 'Manrope', sans-serif;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.075rem;
    display: inline-block;
    text-transform: uppercase;
}

.nav-links a:hover {
    text-decoration: underline;
}

.arrow-icon {
    width: 1rem;
    height: 1rem;
    margin-left: auto;
}

.main-content {
    display: flex;
    padding: 9.375rem 6.25rem;
    align-items: center;
}

.aside-left, .aside-right {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.join-community {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    letter-spacing: 0.225rem;
    color: #000000;
}

.how-qualify {
    margin: 3.125rem 0;
    font-family: 'Chronicle Display', serif;
    font-weight: 300;
    font-size: 3.125rem;
    line-height: 3.75rem;
    letter-spacing: 0.0125rem;
}

.apply-partner {
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    color: #000000;
    text-decoration: underline;
    width: fit-content;
    cursor: pointer;
}

.aside-right p {
    font-family: 'Chronicle Display', serif;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.875rem;
    letter-spacing: 0.0125rem;
    color: #656565;
    width: fit-content;
}

/* Benefits Section */
.benefits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3.75rem;
    background: #F1EFEA;
    padding-top: 4rem;
    padding-bottom: 6rem;
    margin-bottom: 6rem;
}

.section-subtitle {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    letter-spacing: 0.225rem;
    color: #000000;
    text-transform: uppercase;
}

.section-title {
    margin: 3.15rem 0 3.75rem;
    font-family: 'Chronicle Display', serif;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 3.125rem;
    letter-spacing: 0.0125rem;
    padding-bottom: 1.25rem;
}

/* Cards Section */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    padding-top: 5rem;
    width: 28rem;
    height: 35rem;
    margin-bottom: 2rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 60px #65656503;
    border-radius: 4px;
}

.cards-wrapper {
    display: flex;
    gap: 5rem;
}

.check-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.check-item p {
    width: 100%;
    white-space: nowrap;
}

.card-content {
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Chronicle Display', serif;
    font-weight: 300;
    font-size: 1.125rem;
    letter-spacing: 0.0125rem;
    color: #656565;
}

.check-icon {
    margin-right: 1.25rem;
}

.start-now {
    position: absolute;
    bottom: -1.25rem;
    width: 15rem;
    height: 2.5rem;
    background: #444444;
    color: white;
    margin-top: 3.75rem;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1875rem;
}

/* Images Section */
.images-container {
    display: flex;
    justify-content: space-between;
    padding: 3rem 6.25rem;
}

.images-container .aside-left {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.images-container .image-wrapper {
    display: inline-block;
}

.images-container .aside-right {
    width: 48%;
}

.images-container .image {
    width: 13.75rem;
    height: 40.75rem;
    object-fit: cover;
}

.images-container .section-title {
    font-family: 'Chronicle Display', serif;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 3.125rem;
    letter-spacing: 0.0125rem;
    margin-bottom: 1.875rem;
}

.images-container .community-access {
    font-family: 'Manrope', sans-serif;
    font-weight: bolder;
    font-size: 0.9rem;
    line-height: 1.0625rem;
    letter-spacing: 0.075rem;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 0.625rem;
}

.images-container .community-description {
    font-family: 'Chronicle Display', serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 1.875rem;
}

/* Responsive */

@media (min-width: 769px) and (max-width: 850px) {
    .check-item p {
        width: 100%;
        white-space: normal;
    }
}

@media (min-width: 960) and (max-width: 1100px){
    .card {
        width: 25rem;
    }
}
@media (min-width: 769px) and (max-width: 1270px) {
    .cards-wrapper {
        gap: 5rem; 
    }

    .cards-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .aside-right {
        position: relative;
        z-index: 1;
        background: white;
        padding: 1rem; 
    }

    .images-container {
        flex-direction: column;
        align-items: center;
    }

    .images-container .image {
        width: 100%;
        height: 40rem;
    }

    .images-container .aside-left,
    .images-container .aside-right {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 10rem;
        height: 1em;
        padding-top: 1rem;
    }

    .navbar {
        flex-direction: column;
        padding: 1rem 3rem;
        margin-bottom: 2rem;
    }

    .nav-links {
        display: none;  
    }

    .main-content {
        flex-direction: column;
        padding: 1rem 3rem;
    }

    .aside-left, .aside-right {
        width: 100%;
    }

    .join-community {
        font-size: 0.6rem;
    }

    .how-qualify {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 1.5rem 0;
    }

    .apply-partner {
        font-size: 0.8rem;
        line-height: 1.25rem;
        margin-bottom: 2rem;
    }

    .aside-right p {
        font-size: 0.7rem;
        line-height: 1.25rem;
        margin-bottom: 2.5rem;
    }

    .benefits-container {
        padding: 0 1.5rem;  
        padding-top: 2rem;
        padding-bottom: 4rem;
    }

    .section-subtitle {
        font-size: 0.6rem;
        line-height: 1rem;
        margin-bottom: -1.5rem;
    }

    .section-title {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 2rem;
    }
    .card {
        width: 18rem;
        height: 24rem;
    }

    .cards-wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .card-content {
        font-size: 0.75rem;
        line-height: 1rem;
    }

    .check-item {
        padding: 0 1.5rem;
    }

    .check-icon {
        margin-right: 0.2rem;
        width: 0.6rem;
    }

    .start-now {
        font-size: 0.6rem;
        margin-top: 2rem;
        width: 10rem;
        height: 2rem;
    }

    .images-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .images-container .aside-left {
        flex-direction: row;
        align-items: center;
        gap: 0;
    }

    .images-container .image-wrapper {
        width: 100%;
    }

    .images-container .image {
        width: 100%;
        height: 20rem;
    }


    .images-container .aside-right {
        margin-top: 2rem;
        width: 75%;
        padding: 1rem 3rem;
    }

    .images-container .section-title {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 2.5rem;
    }

    .images-container .section-subtitle {
        font-size: 0.6rem;
        line-height: 1rem;
        margin-bottom: -1.5rem;
    }

    .images-container .community-access {
        font-size: 0.6rem;
        line-height: 1rem;
    }

    .images-container .community-description {
        font-size: 0.8rem;
        line-height: 1.25rem;
    }

    .menu-icon, .arrow-icon {
        display: block;
    }
}

/* Drawer styles */
.drawer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: white;
    z-index: 1000;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column; 
    overflow-y: hidden;
    overflow-x: hidden;
}

.navbar-divider {
    all: unset;
    width: 100vw;
    border: none;
    border-top: 1px solid #EAE8E4;
}


.navbar-divider-text {
    width: calc(100vw - 4rem);
    margin: 0 auto;
    border: none;
    border: 1px solid #EAE8E4;
}

.close-icon {
    position: absolute;
    top: 2rem;
    right: 2rem; 
    cursor: pointer;
    width: 1rem; 
    height: 1rem; 
}

.drawer-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 5rem;
    align-items: flex-start;
    flex-grow: 1; 
}

.drawer-links a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    padding-right: 3rem;
    width: 80%;
    text-decoration: none;
    color: black;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 0.75rem; 
    letter-spacing: 0.1rem;
    padding-top: 1rem;
}

.drawer-links a img {
    margin-left: auto; 
    width: 1rem; 
    height: 1rem; 
}

.contact-info {
    padding: 2rem;
    height: auto; 
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 0.75rem; 
    line-height: 1rem;
    letter-spacing: 0.1rem;
    color: black;
    background-color: #F0EFED;
    position: absolute; 
    bottom: 0; 
    width: 100%;
    overflow-y: hidden;
}

.contact-info p:first-child {
    margin-bottom: 1rem; 
    font-weight: bold;
}

.drawer-logo {
    display: block;
    width: 163px;
    height: 19px;
    margin: 0 auto; 
    padding: 2rem;
}

.barra-icon {
    margin-top: 0;
    margin-bottom: 0;
    width: 1rem;
    height: 1rem;
}